<ion-header>
  <ion-toolbar style="text-align: center; font-size: 20px; width: bold;">
    <ion-back-button slot="start" (click)="dismiss()"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-item style="--background: #7c1734; border-radius: 10px;">
          <ion-label slot="start"> Teléfono: </ion-label>
          <ion-input [(ngModel)]="phone" maxlength="10" (click)="changedPhone()"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button (click)="generateCode()" *ngIf="!this.time.loop">
        Enviar código de verificación
      </ion-button>
      <ion-button *ngIf="this.time.loop">
        {{time.maxTime}}
      </ion-button>
    </ion-row>
    <h1> Código de verificación </h1>
    <ion-row class="ion-justify-content-center" style="margin-top: 30px;">
      <ion-col size="5">
        <ion-input #code style="background: white; color: black; border-radius: 5px;" maxlength="5"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button shape="round" (click)="confirmCode(code, phone)">
        Confirmar
      </ion-button>
    </ion-row>
  </ion-grid>

</ion-content>