<ion-content fullscreen="true">
  <ion-fab slot="fixed" horizontal="end" vertical="top">
    <ion-fab-button color="dark">
      <ion-icon name="chevron-down"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="dismiss()" color="danger">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="sendLocation()" color="success">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <div class="map" id="map"></div>
</ion-content>
